// Imports
@import "reset.scss";

// Variables
$blue: #2c7cb0;
$top-barHeight: 80px;
$box-border: 1px solid rgba(40, 40, 40, 0.5);
$box-padding: 15px;
$desktop-view: 992px;
$tablet-view: 768px;
$mobile-view: 350px;

// Mixins
@mixin container {
  width: 60%;
  margin: 0 auto;

  @include mobile {
    width: 95%;
  }

  @include tablet {
    width: 85%;
  }
}

// Media queries
@mixin tablet {
  @media (min-width: #{$tablet-view}) and (max-width: #{$desktop-view - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-view}) and (max-width: #{$tablet-view - 1px}) {
    @content;
  }
}

// Styles
body {
  font-family: "Montserrat", cursive;
}

.top-bar {
  width: 100%;
  height: $top-barHeight;
  background-color: $blue;

  .container {
    @include container;

    .logo {
      font-size: 26px;
      font-weight: bold;
      line-height: $top-barHeight;
      color: white;
    }
  }
}

.main-section {
  margin-top: 15px;

  .container {
    @include container;

    .finder-box {
      width: 100%;
      border: $box-border;
      border-radius: 5px;
      padding: $box-padding;
      box-sizing: border-box;

      @include mobile {
        padding: $box-padding - 5px;
      }

      h1 {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 10px;

        @include mobile {
          font-size: 30px;
        }
      }

      h3 {
        font-size: 22px;
        margin-bottom: 20px;

        @include mobile {
          font-size: 18px;
        }
      }

      input {
        height: 36px;
        width: calc(100% - 12px);
        font-size: 16px;
        padding: 0 5px;
        border-radius: 5px;
        border: 1px solid rgba(40, 40, 40, 0.5);
        outline: none;
        transition: all 0.3s ease;

        &:focus {
          box-shadow: 0 0 5px #282828;
        }
      }
    }

    .user-container {
      .user-info-section {
        border: $box-border;
        padding: $box-padding;
        border-radius: 5px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 50px 200px auto;
        grid-auto-columns: 200px auto;
        grid-auto-rows: 50px 200px auto;
        grid-gap: 10px 10px;

        @include mobile {
          grid-template-columns: 150px auto;
          grid-template-rows: 150px auto 50px;
          grid-auto-columns: 150px auto;
          grid-auto-rows: 150px auto 50px;
          padding: $box-padding - 5px;
        }

        @include tablet {
          grid-template-columns: 170px auto;
          grid-template-rows: 50px auto 50px;
          grid-auto-columns: 170px auto;
          grid-auto-rows: 50px auto 50px;
        }

        .profile-pic {
          height: 200px;
          border-radius: 5px;
          grid-area: 1 / 1 / 3 / 2;

          @include mobile {
            height: 150px;
            grid-area: 1 / 1 / 2 / 2;
          }

          @include tablet {
            height: 170px;
            grid-area: 1 / 1 / 3 / 2;
          }
        }

        .profile-basic-info {
          display: flex;
          // max-width: 50%;
          justify-content: flex-start;
          align-items: flex-end;
          grid-area: 1 / 2 / 2 / 3;

          @include mobile {
            max-width: unset;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            grid-area: 1 / 2 / 2 / 3;
          }

          @include tablet {
            max-width: 100%;
            flex-direction: row;
            grid-area: 1 / 2 / 2 / 3;
          }

          li {
            background-color: $blue;
            padding: 10px;
            border-radius: 5px;
            color: white;
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .profile-info {
          margin-left: 10px;
          font-size: 18px;
          grid-area: 2 / 2 / 4 / 3;

          @include mobile {
            margin-left: 0;
            grid-area: 2 / 1 / 3 / 3;
          }

          @include tablet {
            grid-area: 2 / 2 / 3 / 3;
          }

          .table-view {
            border: 1px solid rgba(40, 40, 40, 0.5);
            margin: 5px 0;
            padding: 10px;
            border-radius: 10px;

            @include mobile {
              padding: 5px;
            }

            @include tablet {
              padding: 5px;
            }

            .profile-info-property {
              font-weight: bold;
            }
          }
        }

        a.show-profile {
          height: 40px;
          width: 100%;
          border-radius: 10px;
          border: none;
          background-color: $blue;
          color: white;
          font-size: 16px;
          cursor: pointer;
          outline: none;
          transition: box-shadow 0.1s ease;
          grid-area: 2 / 1 / 3 / 2;
          align-self: end;
          text-decoration: none;
          line-height: 40px;
          text-align: center;

          @include mobile {
            grid-area: 3 / 1 / 4 / 3;
            align-self: center;
          }

          @include tablet {
            grid-area: 3 / 1 / 4 / 3;
            align-self: center;
          }

          &:hover {
            background-color: darken($blue, 6);
          }

          &:focus {
            box-shadow: 0 0 0 3px rgba(44, 124, 176, 0.5);
            transition: box-shadow 0.1s ease;
          }
        }
      }

      .user-repos-section {
        border: $box-border;
        border-radius: 5px;
        margin-top: 10px;
        padding: $box-padding;

        h1 {
          font-size: 22px;
          font-weight: bold;
          margin: 0 0 5px 5px;
        }

        .repos {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .repo {
            border: $box-border;
            border-radius: 10px;
            padding: 10px 15px;
            box-sizing: border-box;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:nth-child(even) {
              background-color: rgba(40, 40, 40, 0.1);
            }

            .repo-info {
              display: inline-block;

              .repo-name {
                font-size: 18px;
                font-weight: bold;
                margin-right: 10px;
              }

              .repo-desc {
                font-style: italic;
              }
            }

            a.show-repo {
              background-color: $blue;
              color: white;
              padding: 5px 10px;
              border-radius: 10px;
              text-decoration: none;
              box-sizing: border-box;

              &:hover {
                background-color: darken($blue, 6);
              }

              &:focus {
                box-shadow: 0 0 0 3px rgba(44, 124, 176, 0.5);
                transition: box-shadow 0.1s ease;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-top: 1px solid rgba(40, 40, 40, 0.5);
  border-bottom: 1px solid rgba(40, 40, 40, 0.5);
  margin-top: 10px;
}
